In [1]:
import pymysql
# conn = pymysql.connect(host='localhost',database='YashDB',user='root',password=2580,port=3306)

In [2]:
import pymysql

def createconn():
    return pymysql.connect(host='localhost',database='yashdb',
                           user='root',password='2580',port=3306)

In [3]:
def createtable():
    conn = createconn()
    cursor = conn.cursor()
    query='create table pymysql(sid int,name varchar(50),email varchar(50),mobile int)'
    cursor.execute(query)
    conn.commit()
    print('table created')
    conn.close()
    
createtable()

OperationalError: (1050, "Table 'pymysql' already exists")

In [4]:
def insertdata(sid,name,email,mobile):
    conn=createconn()
    cursor=conn.cursor()
    args=(sid,name,email,mobile)
    query='insert into pymysql(sid,name,email,mobile) values (%s,%s,%s,%s)'
    cursor.execute(query,args)
    conn.commit()
    print('data inserted')
    conn.close()

In [ ]:
s=input('Enter your ID : ')
n=input('Enter your name : ')
e=input('Enter your email: ')
m=input('Enter your mobile no. : ')

insertdata(s,n,e,m)

In [5]:
# fetch all data & fetch by ID data from Data base

def showalldata():
    conn=createconn()
    cursor=conn.cursor()
    query='select * from pymysql'
    cursor.execute(query)
    result=cursor.fetchall()
    for i in result:
        print(i)

In [6]:
showalldata()

(1, '', '22', 22)
(2, 'hardh', 'h@gmail', 98656)

In [7]:
def showalldatabyid(sid):
    conn=createconn()
    cursor=conn.cursor()
    arg=(sid)
    query='select * from pymysql where sid=%s'
    cursor.execute(query,arg)
    result=cursor.fetchall()
    for i in result:
        print(i)

In [8]:
sid=int(input('Enter your ID : '))

showalldatabyid(sid)

Enter your ID : 1
(1, '', '22', 22)

In [9]:
def updatingdata(name,email,mobile,sid):
    conn= createconn()
    cursor = conn.cursor()
    args = (name,email,mobile,sid)
    query='update pymysql set name=%s,email=%s,mobile=%s where sid=%s'
    cursor.execute(query,args)
    conn.commit()
    print('Data updated')
    conn.close()

In [10]:
showalldata()

s=int(input('Enter your ID : '))
n=input('Enter your name : ')
e=input('Enter your email: ')
m=input('Enter your mobile no. : ')

updatingdata(n,e,m,s)

(1, '', '22', 22)
(2, 'hardh', 'h@gmail', 98656)
Enter your ID : 1
Enter your name : Yashvardhan
Enter your email: sharma@gmail.com
Enter your mobile no. : 12345
Data updated

In [11]:
# delete data from database

def deletedata(sid):
    conn = createconn()
    cursor = conn.cursor()
    args = (sid)
    query= 'delete from pymysql where sid = %s'
    cursor.execute(query,args)
    conn.commit()
    print('data deleted')
    conn.close

In [12]:
showalldata()
sid=int(input('Enter your ID : '))
deletedata(sid)
showalldata()

(1, 'Yashvardhan', 'sharma@gmail.com', 12345)
(2, 'hardh', 'h@gmail', 98656)
Enter your ID : 2
data deleted
(1, 'Yashvardhan', 'sharma@gmail.com', 12345)